<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.qa.utilities.Reporting"/>


</listeners>




  <test thread-count="5" name="Test">
  <parameter name="browser" value="chrome"/>
    <classes>
    <!--
   <class name="com.qa.testcases.TC_002_datadriven"/>
         <class name="com.qa.testcases.TC_003_homepage"/>
        <class name="com.qa.testcases.TC_001"/>
    -->
       
          <class name="com.qa.testcases.TC_003_homepage"/>

      </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
